
<!-- Navbar Toggle script in Mobile View -->
<script>
    // JavaScript to toggle the mobile menu
    document.getElementById('mobile-menu-toggle').addEventListener('click', function(event) {
      let navbar = document.getElementById('navbar-default');
      navbar.classList.toggle('hidden');
      event.stopPropagation(); // Prevents the click event from reaching the document
    });
  
    // Close the mobile menu when clicking outside the navbar
    document.addEventListener('click', function(event) {
      let navbar = document.getElementById('navbar-default');
      if (navbar && !navbar.contains(event.target)) {
        navbar.classList.add('hidden');
      }
    });
  
    // Unhide the navbar when a navigation item is clicked
    let navLinks = document.querySelectorAll('#navbar-default a');
    navLinks.forEach(function(link) {
      link.addEventListener('click', function() {
        let navbar = document.getElementById('navbar-default');
        navbar.classList.add('hidden');
      });
    });
  </script>
</body>
</html>