<!--! Landing-Home Page  -->
<%- include ('./partials/Header.ejs') %>

<!-- Home Navbar partial -->
<%- include ('./partials/Navbar.ejs') %>

<!-- Info about the website -->
<div class=" flex items-center justify-center gap-8 text-white">
    <!-- Left Div -->
    <div class="p-5 left sm:w-2/4 text-white rounded-2xl">
        <h1 class="font-extrabold sm:text-9xl text-8xl py-2 text-left underline underline-offset-4 decoration-2">DYNAMIC</h1>
        <h1 class="font-extrabold sm:text-9xl text-8xl py-2 text-left underline underline-offset-4 decoration-2">RESUME</h1>
        <h1 class="font-extrabold sm:text-9xl text-8xl py-2 text-left underline underline-offset-4 decoration-2">BUILDER</h1>
        <h1 class="font-extrabold sm:text-9xl text-8xl py-2 text-left underline underline-offset-4 decoration-2">FREE</h1>
    </div>
    <!-- Right Div -->
    <div class="right p-2 w-1/4 h-min bg-transparent rounded-xl cursor-pointer">
        <img class="h-full w-full rounded-md md:none" src="../images/resumeImg.png" alt="Resume Template IMG">
    </div>
</div>

<!-- Login Button -->

<%- include ('./partials/Footer.ejs') %>