<!--! Landing Page  -->
<%- include ('./partials/Header.ejs') %>

<div class="resume-container w-full min-h-min bg-[#202020] flex justify-center">
<!-- Home Navbar partial -->
<!-- Info about the website -->
<!-- Template choosing options -->
<%- include ('./partials/Resume1.ejs') %>
</div>

<%- include ('./partials/Footer.ejs') %>