<%- include ('./partials/Header.ejs') %>
<%- include ('./partials/NavbarLoggedin.ejs') %>

<div class="bg-white h-full w-full">
    <form action="/resumeInputs" method="post">
        <!-- Header Section -->
        <div class="w-full h-full">
            <label for="name">Name </label>
            <input type="text" name="name">
        </div>
        <div class="w-full h-full">
            <label for="profession">Profession </label>
            <input type="text" name="profession">
        </div>
        <div class="w-full h-full">
            <label for="email">Email </label>
            <input type="text" name="email">
        </div>
        <div class="w-full h-full">
            <label for="phone">Phone </label>
            <input type="text" name="phone">
        </div>
        <div class="w-full h-full">
            <label for="citystate">City, State </label>
            <input type="text" name="citystate">
        </div>
        <div class="w-full h-full">
            <label for="githublink">Github Link </label>
            <input type="text" name="githublink">
        </div>
        <div class="w-full h-full">
            <label for="linkedinlink">LinkedIn Link </label>
            <input type="text" name="linkedinlink">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

<%- include ('./partials/Footer.ejs') %>