<!--! Signup Page  -->
<%- include ('./partials/Header.ejs') %>

<!-- Navbar partial -->
<%- include ('./partials/Navbar.ejs') %>

<%- include ('./partials/Footer.ejs') %>
<form action="/signup" method="post" class="flex justify-center my-10">
    <div class="w-96 flex flex-col gap-6 border-[1px] rounded-xl p-6 ">
        <h1 class="text-4xl text-center text-white font-semibold">Signup</h1>
        <div class="border-b-[1px]"></div>
        <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
            <input name="name" type="text" id="name" class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition-all duration-200" placeholder="fullname" required>
        </div>
        <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
            <input name="username" type="text" id="username" class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition-all duration-200" placeholder="yourname234" required>
        </div>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
            <input name="email" type="email" id="email" class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition-all duration-200" placeholder="yourmail@gmail.com" required>
        </div> 
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input name="password" type="password" id="password" class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 transition-all duration-200" placeholder="•••••••••" required>
        </div> 

        <div class="flex items-start mb-6">
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Already have an account? <a href="/login" class="text-blue-600 hover:underline dark:text-blue-500">login</a></label>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-white transition-all duration-200">Signup</button>
    </div>
</form>

<!-- Footer Partial -->
<%- include ('./partials/Footer.ejs') %>